.header {
  width: 100%;
  background: #131921;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.header__search__container {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.header__logo img {
  object-fit: contain;
  width: 100%;
  object-position: center;
}

.cart_container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}

.order {
  width: 70px;
  height: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.cart {
  background: #ffa51d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 55px;
  border-radius: 10px;
  border: none;
}

.cart:hover {
  background: #ff9901;
}
.cart_icon {
  color: #131921 !important;
}

.signup_btn {
  background: #ffa51d !important;
  color: #fff !important;
  width: 120px !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.signup_btn:hover {
  background: #ff9901 !important;
  color: #131921 !important;
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header__container {
    margin-left: 5%;
  }

  .cart_container {
    width: 40%;
  }
}
