.header {
  width: 100vw;
  background: #131921;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.header__container {
  /* background: chartreuse; */
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  /* background: chocolate; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.header__logo img {
  object-fit: contain;
  width: 100%;
  object-position: center;
}

.cart_container {
  /* background: blueviolet; */
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}

.order {
  width: 70px;
  height: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.cart {
  background: #ff9901;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 55px;
  border-radius: 10px;
  border: none;
}
.cart_icon {
  color: #fff !important;
}

.signup_btn {
  background: #ff9901 !important;
  color: #fff !important;
  width: 100px !important;
  font-weight: 700 !important;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    /* background: #fff; */
  }

  .header__container {
    background: blue;
  }

  .cart_container {
    background: blueviolet;
  }
}
